<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">

<!--            <PatternLayout-->
<!--                    pattern="[%d] %t {%level} %c == %msg %n" />-->
            <!--            <PatternLayout-->
            <!--                    pattern="[%d{yyyy.MM.dd HH:mm:ssss}] %t %-5level %-50c{1.} >> %msg %n"/>-->
            <PatternLayout
                    pattern="%style{%d{ISO8601}}{white} %highlight{%-5level}{FATAL=bg_red, ERROR=bg_red, WARN=yellow, INFO=green} [%style{%t}{bright,blue}] %style{%-50C{1.}}{bright,yellow}: %msg%n%throwable" />
        </Console>
                    <Policies>
                        <!-- rollover on startup, daily and when the file reaches
                            10 MegaBytes -->
                        <OnStartupTriggeringPolicy />
                        <SizeBasedTriggeringPolicy
                                size="2 MB" />
                        <TimeBasedTriggeringPolicy />
                    </Policies>
       <File name="CoderFile" fileName="./logs/Coder.log">
           <PatternLayout
                   pattern="[%d{yyyy-MM-dd HH:mm:ss}] %t %-5level %-55c{1.} >> %msg %n"/>
       </File>
    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console"/>
        </Root>
        <Logger name="com.coderhouse.springbootcoder.controllers" level="error">
            <AppenderRef ref="CoderFile" />
        </Logger>
    </Loggers>
</Configuration>